.app_body{
    width: 80%;
    padding: 0px 8%;
    display: flex;
   
}


.sidebar{
    display: flex;
    flex: 0.30;
    flex-direction: column;
    margin-top: 70px;
   
}
.sidebar .sidebar__profile{
    border-bottom: 1px solid #ccc;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
  
    padding-bottom: 10px;
    overflow: hidden;

}
.sidebar .sidebar__profile img{
    
width: 100%;
height: 60px;
margin-bottom: -35px;
}


.sidebar .sidebar__profile  .MuiAvatar-circular{
border: 2px solid white;
background-color: white;
width: 70px;
height: 60px;
margin: 0px auto 1.2rem;
object-fit: contain;
}
.profile__details{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.profile__details p{
    margin: 5px 10px;
    font-size: 14px;
    color: #333333ab;
}
.profile__stats{
    display: flex;
    justify-content: space-between;
    text-align: left;
   padding: 0px 10px;
    font-size: 13px;
    align-items: center;
    cursor: pointer;
}
.stat__number{
    color: blue;
    font-weight: 500;
    font-weight: bold;
}
.sidebar__recent{
    background-color: #fff;
    margin:10px 0px;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
   top: 80px;
 

}
.links{
    display: flex;
    flex-direction: column;
    color: blue;
    font-size: 14px;
}
.hash span{
    font-weight: bolder;
    font-size: 20px;
    margin-right: 5px;
    color: #333;
  
}
.events{
    display: flex;
    justify-content: space-between;

}
a{
    color: rgba(0, 0, 255, 0.856);
}
a:link {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
.sidebar__recent p{
   margin: 0px 0px 10px 0px;
   font-size: 14px;
   display: flex;
   align-items: center;
}
.followed__hashtags{
    display: flex;
    flex-direction: column;
    
    margin-top: 10px;
    
  
}
.new_event{
    font-size: large;
    font-weight: bolder;
}
.followed__hashtags a{
 font-size: 14px;
}
.seeall{
    font-size: 20px;
    margin-right: 5px;
    color: #333;
}
.seeall:hover{
cursor: pointer;
background-color: #33333338;

}
.hash:hover{
    cursor: pointer;
    background-color: #33333338;
  
   
}
.feed{
    margin: 70px 30px;
    display: flex;
    flex: 0.6;
    flex-direction: column;
}
.feed .feed__input{
display: flex;
flex-direction: column;
background-color: white;
padding: 14px;
border-radius: 10px;
}
.feed .feed__input form{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex: 1;
   
    }
    .feed .feed__input form input[type='text']{
       border-radius: 20px;
       padding: 0px 10px;
       margin-left: 10px;
       height: 40px;
       border:1px solid #ccc;
       outline: 0;
       flex: 1;
       
}
.feed .feed__input form input[type='submit']{
     display:none ;
}
.feed__options{
display: flex;
align-items: center;
justify-content: space-between;
background-color: white;
padding: 7px;



}
.feed__options .option{
    display: flex;
    align-items: center;
    color: #333;
    font-size: 14px;
    border-radius: 5px;
    padding: 0px 10px;
}
.feed__options .option:hover{
  
   background-color: #33333338;
  cursor: pointer;
}
.feed__form{
    display: flex;
}
.post{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.post__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__header__Left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post_profile_detail h3{
    font-size: 14px;
    margin: 0px;
    margin-left: 10px;
}
.post_profile_detail p{
    font-size: 12px;
    margin: 0px;
    margin-left: 10px;
}
.post__body{
    font-size: 14px;
    padding: 10px 0px;

}
.post__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    padding: 10px;
    margin-top: 20px;
}
.post__footer .post__footer__option{ 
 display: flex;
 align-items: center;
 cursor: pointer;
 color: #333;
 padding: 10px;
 border-radius: 5px;
}
.post__footer .post__footer__option svg{ 
   margin-right: 10px;
   color:#333333c4;
   }
   .post__footer .post__footer__option span{ 
   color: #333333b0;
    }
.widget{
        display: flex;
        flex-direction: column;
        flex:0.35;
        border-radius: 10px;  
    }
.widget__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.widget__header >h4{
    margin: 0;
}
.widget__header svg{
    font-size: 18px;
}
ul.widget__options{
    margin: 10px;
    padding: 0px;
    padding-left: 15px;
  
}
ul.widget__options li{
    margin-bottom: 10px;
}
.widget_body{
    margin-top: 75px;
}
ul.widget__options h4{
    margin: 0px;
    font-weight: normal;
    font-size: 15px;
  
}
ul.widget__options p{
    margin: 0px;
    font-size: 12px;
    color: #959595;
}
.widget_body{
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}
.widget_bottom{
    background: #fff;
    padding: 10px;
   border-radius: 10px;
   position: sticky;
   top:80px;

}


.post__footer .post__footer__option:hover{
background-color: #33333348;
}


.dropbtn {
    font-size: 16px;
    border: none;
  }
  
 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
 
  .dropdown-content a:hover {background-color: #ddd;}
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .comment form{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex: 1;
 
   
    }
    .comment form input[type='text']{
       border-radius: 20px;
       padding: 0px 10px;
       margin-left: 10px;
       height: 40px;
       border:1px solid #ccc;
       outline: 0;
       flex: .80;
       
}
.comment form input[type='submit']{
     border: none;
     color: white;
     background-color: rgb(62, 101, 151);
     border-radius: 10px;
     margin-left: 10px;

}
.comment form input[type='submit']:hover{
    cursor: pointer;

}
.publicicon svg{
    font-size: 15px;
 
}
/* from here */
.navbar{
position: fixed;
width: 100%;
height: 60px;
left: 0px;
top: 0px;
background: #F0F8FF;
box-shadow: 0px 4px 8px -2px rgba(154, 154, 154, 0.25);
display: flex;
align-items: center;
justify-content: center;


}
.vajra{
    font-size: 25px;
    color: #004F95;
}
.home{
    position: absolute;
    width: 53px;
    height: 27px;
    left: 800px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    
    
    color: #004F95;
}
.number{
 position: absolute;
width: 148px;
height: 27px;
left: 1200px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #004F95;
}
.content{
display: flex;
justify-content: space-around;

}
.loginpage_left{
    background: #004F95;
     flex: 0.4;
    border-radius: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    max-height: 380px;
    padding: 20px;
    box-shadow: 0px 4px 8px -2px rgba(0, 79, 149, 0.25);
}

.loginpage_left svg{
    font-size: 40px;
}

.icons{
    display: flex;
    margin-left: 20px;
 margin-bottom: 20px;
}
.description{
    font-size: 12px;
}
.features{
margin-left: 40%;
}

.loginscreen{
    margin-top: 80px;
   text-align: left;
    background: #F0F8FF;
    box-shadow: 0px 4px 8px -2px rgba(0, 79, 149, 0.25);
    border-radius: 20px;
    flex: 0.4;
    max-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 60px;
}

.loginscreen input{
    height: 40px;
    width: 90%;
    margin-bottom: 10px;
    padding: 0px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;

}
.loginscreen input[type="submit"]{
   border-radius: 0px;
   background-color: #0077b5;
   border: 0;
   color: #fff;
   letter-spacing: 2px;
   cursor: pointer;
   width: 94%;
}

.loginscreen h4 span{
    
    color: #0077b5;
    cursor: pointer;

}
.footer{
margin-bottom: 0px;
position: relative;
width: 100%;
height: 60px;
left: 0px;
right: 0px;
background: #F0F8FF;
box-shadow: 0px 4px 8px -2px rgba(154, 154, 154, 0.25);
display: flex;
align-items: center;
justify-content: space-between;
top: 330px;


}
.vajra_footer{
    margin-left: 50px;
    display: flex;
    align-items: center;
}